@use '../../styles/helpers' as *;

.line {
	width: 100%;
	height: 0.2rem;
	transform-origin: left;

	&:not([data-theme]),
	&[data-theme='light'] {
		background-color: #fff;

		@if not isPrint() {
			@include print {
				background-color: var(--primary, #2699c4);
				height: 0.2rem;
			}
		}
	}

	&[data-theme='dark'] {
		background-color: var(--primary, #2699c4);
	}

	@include transition-long;

	&[data-loaded='false'] {
		transform: scaleX(0);
	}
}
