@use '../../styles/helpers' as *;

.social {
  @include section-offsets;

  &__title {
    @include section-title;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;

    @include screen {
      align-items: center;
      gap: 1.5rem;
    }

    @include print {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__item {
    @include section-icon-button;

    @include print {
      position: relative;

      &::after {
        content: attr(href);
        display: block;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.1;
        inset: auto auto auto 100%;
        margin-left: 1rem;
      }
    }
  }
}
