@use '../../styles/helpers' as *;

.container {
	@include section-offsets;

	&[data-loaded='false'] {
		.text {
			transform: translateY(25%);
			opacity: 0.05;
		}
	}
}

.title {
	@include section-title;
}

.text {
	@include transition-long;
	font-weight: 400;
	max-width: 640px;

	@include screen {
		letter-spacing: 0.02em;
		font-size: 1.64rem;
	}
}
