@use '../../styles/helpers' as *;

.list {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@include print {
		gap: 12pt;
	}

	p,
	span {
		@include section-text;
	}

	&__item {
		display: grid;
		align-items: center;
		grid-template-columns: 40px 1fr;
		gap: 1rem;

		@include print {
			gap: 8pt;
		}
	}

	&__item {
		.button {
			@include section-icon-button;
		}

		p,
		span {
			font-weight: 400;

			@include screen {
				text-shadow: 1px 1px 4px rgba(50, 50, 50, 0.5);
			}
		}
	}
}
